/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

/* Apply responsive design using flexbox */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Apply media queries for responsive design */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}